*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 3.25rem;
  margin-bottom: 2.375rem;
}
@media (min-width: 768px) {
  .logo {
    margin-top: 10.125rem;
    margin-bottom: 5.5rem;
  }
}
.logo__img {
  margin-inline: auto;
}

.calculator {
  padding: 2rem;
  max-width: 57.625rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.375rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .calculator {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.75rem;
  }
}
.calculator__inputs {
  color: hsl(186, 14%, 43%);
}
@media (min-width: 768px) {
  .calculator__inputs {
    padding: 1rem;
  }
}
.calculator__display {
  padding: 1.5rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  border-radius: 0.875rem;
}
@media (min-width: 992px) {
  .calculator__display {
    padding: 2.3125rem;
  }
}

.input {
  margin-top: 0.5rem;
  padding: 0.1875rem 0.875rem;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 1rem center;
  color: hsl(183, 100%, 15%);
  font-size: 1.625rem;
  text-align: right;
  border-radius: 5px;
}
.input:focus {
  outline: 3px solid hsl(172, 67%, 45%);
}
.input:invalid {
  outline: 3px solid #CF8673;
}

.input__bill {
  background-image: url("./images/icon-dollar.svg");
}

.input__people {
  background-image: url("./images/icon-person.svg");
}

.tip {
  margin-top: 2rem;
  margin-bottom: 1.625rem;
}
@media (min-width: 768px) {
  .tip {
    margin-block: 2.375rem;
  }
}
.tip__options {
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.3125rem;
  row-gap: 0.875rem;
}
.tip__option {
  cursor: pointer;
}
.tip__option input[type=radio] {
  display: none;
}
.tip__option input[type=radio]:checked + .tip__label {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip__option--custom {
  width: 9.125rem;
}
@media (min-width: 768px) {
  .tip__option--custom {
    width: 7.375rem;
  }
}
.tip__option--custom input {
  margin: 0;
  padding-block: 0.625rem;
  font-size: 1.25rem;
}
.tip__label {
  display: inline-block;
  padding-block: 0.625rem;
  width: 9.125rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
}
@media (min-width: 768px) {
  .tip__label {
    width: 7.375rem;
  }
}
@media (hover: hover) {
  .tip__label:hover {
    background-color: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
  }
}

/*# sourceMappingURL=style.css.map */
