@use "../abstracts" as *;

.logo {
  margin-top: rem(52);
  margin-bottom: rem(38);
  
  @include md {
    margin-top: rem(162);
    margin-bottom: rem(88);
  }

  &__img {
    margin-inline: auto;
  }
}